.post {
    + .post {
        margin-top: 30px;
    } // + .post
    header {
        .meta {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            margin-bottom: 20px;
            .meta-block {
                flex: 0 0 auto;
            } // meta-block
            .author-photo {
                width: 40px;
                margin-right: 10px;
                img {
                    width: 38px;
                    height: 38px;
                } // img
            } // author-photo
            .author-and-time {
                width: calc(50% - 25px);
                @include clear-list;
                font-size: rem(14);
                line-height: 20px;
                .author-name {
                    color: #2ECC71;
                    text-decoration: none;
                } // author-name
                time {
                    color: #c9c9c9;
                } // time
            } // author-and-time
            .tags {
                width: calc(50% - 25px);
                text-align: right;
                font-size: rem(14);
                line-height: 20px;
                a {
                    color: #c9c9c9;
                    text-decoration: none;
                    &:after {
                        content: ', ';
                    } // &:after
                    &:nth-last-child(1) {
                        &:after {
                            display: none;
                        } // &:after
                    } // &:nth-last-child
                } // a
            } // tags
        } // meta
        .poster-small {
            display: block;
            width: 100%;
            height: 220px;
            background-repeat: none;
            background-size: cover !important;
            background-position: 50% 50% !important;
        } // poster-small
    } // header
    .post-preview {
        .preview-link {
            text-decoration: none;
            h2 {
                font-weight: bold;
                color: black;
                font-size: rem(24);
            } // h2
            p {
                color: #616161;
                font-size: rem(18);
                margin: 0;
                line-height: 1.5;
            } // p
        } // preview-link
    } // post-preview
} // post
