.single-post {
    margin-bottom: 30px;
    header {
        .meta {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            margin-bottom: 20px;
            .meta-block {
                flex: 0 0 auto;
            } // meta-block
            .author-photo {
                width: 40px;
                margin-right: 10px;
                img {
                    width: 38px;
                    height: 38px;
                } // img
            } // author-photo
            .author-and-time {
                width: calc(50% - 25px);
                @include clear-list;
                font-size: rem(14);
                line-height: 20px;
                .author-name {
                    color: #2ECC71;
                    text-decoration: none;
                } // author-name
                time {
                    color: #c9c9c9;
                } // time
            } // author-and-time
            .tags {
                width: calc(50% - 25px);
                text-align: right;
                font-size: rem(14);
                line-height: 20px;
                a {
                    color: #c9c9c9;
                    text-decoration: none;
                    &:after {
                        content: ', ';
                    } // &:after
                    &:nth-last-child(1) {
                        &:after {
                            display: none;
                        } // &:after
                    } // &:nth-last-child
                } // a
            } // tags
        } // meta
    } // header
    article {
        h2 {
            font-weight: bold;
            color: black;
            font-size: rem(20);
        } // h2
        p {
            color: #616161;
            font-size: rem(16);
            margin: 0;
            line-height: 1.6;
        } // p
        p + p {
            margin-top: 20px;
        } // p + p
        img {
            margin: 20px 0;
        } // img
    } // article
} // single-post
