.single-post {
    margin-bottom: 30px;
    header {
        .meta {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            margin-bottom: 20px;
            .meta-block {
                flex: 0 0 auto;
            } // meta-block
            .author-photo {
                width: 40px;
                margin-right: 10px;
                img {
                    width: 38px;
                    height: 38px;
                } // img
            } // author-photo
            .author-and-time {
                width: calc(50% - 25px);
                @include clear-list;
                font-size: rem(14);
                line-height: 20px;
                .author-name {
                    color: #2ECC71;
                    text-decoration: none;
                } // author-name
                time {
                    color: #c9c9c9;
                } // time
            } // author-and-time
            .tags {
                width: calc(50% - 25px);
                text-align: right;
                font-size: rem(14);
                line-height: 20px;
                a {
                    color: #c9c9c9;
                    text-decoration: none;
                    &:after {
                        content: ', ';
                    } // &:after
                    &:nth-last-child(1) {
                        &:after {
                            display: none;
                        } // &:after
                    } // &:nth-last-child
                } // a
            } // tags
        } // meta
    } // header
    .article-title {
        font-weight: bold;
        color: black;
        font-size: rem(24);
    } // article-title
    article {
        p {
            color: #616161;
            font-size: rem(18);
            margin: 0;
            line-height: 1.5;
            img {
                margin: 0 auto;
            } // img
        } // p
        * + * {
            margin-top: 20px !important;
        } // * + *
        h2, h3, h4, h5 {
            color: #358340;
        } // h2, h3, h4, h5
        table {
            width: 100%;
            margin: auto;
            margin-bottom: 1em;
            tr {
                th {
                    font-weight: 700;
                } // th
                th, td {
                    text-align: center;
                    vertical-align: middle;
                    padding: .2em;
                    margin: 0;
                    background: #ecf0f1;
                } // th, td
                &:hover {
                    td {
                        background: #d5d5d5;
                    } // td
                } // &:hover
            } // tr
        } // table
        blockquote {
            margin: 0;
            padding: 0.3em 1em;
            border-left: 8px solid rgba(111, 163, 116, 1);
        } // blockquote
        .mediadesc, .mdesc {
            text-align: center;
            font-style: italic;
        }
    } // article
} // single-post
