<!-- post -->
<div class="post">
    <header>
        <div class="meta">
            <div class="meta-block author-photo">
                <img src="/static/images/mg-avatar.png" alt="">
            </div>
            <ul class="meta-block author-and-time">
                <li><a href="#" class="author-name">Михаил Якименко</a></li>
                <li><time>23 Апреля 2015</time></li>
            </ul>
            <nav class="meta-block tags">
                <a href="">Travel</a>
                <a href="">Philippines</a>
                <a href="">Lapu-Lapu</a>
            </nav>
        </div>
        <a href="#" class="poster-small"
            style="background-image: url('/static/images/boat.jpg');"></a>
    </header>
    <article class="post-preview">
        <a href="#" class="preview-link">
            <h2>@@title</h2>
            <p>
                How will you pay? - спрашивает девушка на кассе. Вторая стоит рядом и складывает покупки в пакет.
            </p>
        </a>
    </article>
</div>
<!-- /post -->
