<!-- header -->
<header class="site-header">
    <nav class="container">
        <ul class="top-menu">
            <li class="mobile">
                <a class="cheesburger" data-role="mobile-header-trigger"></a>
            </li>
            <li>
                <a href="#">О блоге</a>
            </li>
            <li>
                <a href="#">RSS</a>
            </li>
            <li>
                <input type="text">
                <button>
                    <i class="fa fa-search"></i>
                </button>
            </li>
        </ul>
    </nav>
</header>
<!-- /header -->

<!-- mobile-header -->
<header class="mobile-header" data-role="mobile-header">
    <ul class="mobile-top-menu">
        <li>
            <a href="#">О блоге</a>
        </li>
        <li>
            <a href="#">RSS</a>
        </li>
        <li>
            <input type="text">
            <button>
                <i class="fa fa-search"></i>
            </button>
        </li>
    </ul>
</header>
<!-- /mobile-header -->
